manifests/n8n/workflows/auto_update_pr.json
{
  "name": "Auto PR",
  "nodes": [
    {
      "parameters": {
        "url": "https://static.runelite.net/bootstrap.json",
        "options": {}
      },
      "id": "fe0475ad-88b9-4f95-abce-419f188246f4",
      "name": "Fetch RuneLite Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "const bootstrapData = $input.first().json;\nconst clientArtifact = bootstrapData.artifacts.find(a => a.name.startsWith('client-'));\nif (!clientArtifact) throw new Error(\"Could not find an artifact starting with 'client-'.\");\nconsole.log(\"Found artifact: \", clientArtifact.name);\nlet version = clientArtifact.name.replace('client-', '').replace('.jar', '');\nconsole.log(\"Parsed version: \", version);\nreturn { version, artifact: clientArtifact.name, hash: clientArtifact.hash, size: clientArtifact.size, path: clientArtifact.path };"
      },
      "id": "1d5e976e-7eb3-43fd-bc00-9495bfe8b1b3",
      "name": "Parse RuneLite Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        1184
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1600,
        1088
      ],
      "id": "24f551da-e8ff-44b8-9dff-fb02e53a33ac",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        928,
        1088
      ],
      "id": "e069dde2-9339-4ec6-bee5-e308d85630c8",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn {\n  newVersion: data.version,\n  prevVersion: data.previous_version,\n  branchName: `bump/runelite-${data.version}`\n};"
      },
      "id": "e61d3c05-81f6-468f-ac78-3ad006301537",
      "name": "Prepare PR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        1088
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-api/git/ref/heads/master",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "2ffbddb5-6151-4bb8-9a08-eaeec35d964e",
      "name": "Get kraken-api Main SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        1184
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-api/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n  \"ref\": \"refs/heads/bump/runelite-{{$('Prepare PR Data').item.json.newVersion}}\", \n  \"sha\": \"{{$json.object.sha}}\"\n}",
        "options": {}
      },
      "id": "8a9516a4-fa10-4e5f-b1fd-341e082ec515",
      "name": "Create kraken-api Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2496,
        1184
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/Kraken-Plugins/kraken-api/contents/lib/build.gradle?ref={{$json.ref }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "90203b1c-c098-40c9-981a-2f82403c35fb",
      "name": "Get kraken-api build.gradle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        1184
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileData = $input.first().json;\nconst newVersion = $('Prepare PR Data').first().json.newVersion;\nconst branchName = $('Prepare PR Data').first().json.branchName;\n\nconst rawContent = fileData.content.replace(/\\n/g, '');\nconst decoded = Buffer.from(rawContent, 'base64').toString('utf8');\n\nconsole.log(newVersion)\n\nconst updated = decoded.replace(\n  /def runeLiteVersion = '[^']+'/,\n  `def runeLiteVersion = '${newVersion}'`\n);\n\nif (decoded === updated) {\n  throw new Error(`Could not find 'def runeLiteVersion' in lib/build.gradle. Check the file content.`);\n}\n\nconst newBase64 = Buffer.from(updated).toString('base64');\n\nreturn {\n  content: newBase64,\n  sha: fileData.sha,\n  newVersion,\n  branchName\n};"
      },
      "id": "d1b6e54f-585a-486d-83b6-b2f9f0ecfaa6",
      "name": "Prepare kraken-api File Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        1184
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-api/contents/lib/build.gradle",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'chore: bump RuneLite to ' + $json.newVersion, content: $json.content, sha: $json.sha, branch: $json.branchName }) }}",
        "options": {}
      },
      "id": "17e66424-4ac9-4468-aadb-f1d89d7fbe60",
      "name": "Update kraken-api build.gradle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        1184
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-api/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: 'chore: bump RuneLite to ' + $('Prepare PR Data').item.json.newVersion, head: $('Prepare PR Data').item.json.branchName, base: 'master', body: '## RuneLite Version Bump\\n\\nAutomated PR to update RuneLite from `' + $('Prepare PR Data').item.json.prevVersion + '` to `' + $('Prepare PR Data').item.json.newVersion + '`.\\n\\n**File changed:** `lib/build.gradle`' }) }}",
        "options": {}
      },
      "id": "61b30b35-e6f8-425d-a12b-7aaae74136bf",
      "name": "Create kraken-api PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        1184
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-plugins/git/ref/heads/master",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "f586038c-1bfe-41b0-8e84-21bd97fa1468",
      "name": "Get kraken-plugins Main SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        1392
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-plugins/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ref: 'refs/heads/' + $('Prepare PR Data').item.json.branchName, sha: $json.object.sha }) }}",
        "options": {}
      },
      "id": "60045e81-25ba-48d2-876a-d5066928cac6",
      "name": "Create kraken-plugins Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2496,
        1392
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/Kraken-Plugins/kraken-plugins/contents/build.gradle?ref=' + $('Prepare PR Data').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "ec81bdbd-383d-4ae6-b1d5-05f77ccd35af",
      "name": "Get kraken-plugins build.gradle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2704,
        1392
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileData = $input.first().json;\nconst newVersion = $('Prepare PR Data').first().json.newVersion;\nconst branchName = $('Prepare PR Data').first().json.branchName;\n\nconst rawContent = fileData.content.replace(/\\n/g, '');\nconst decoded = Buffer.from(rawContent, 'base64').toString('utf8');\n\nconst updated = decoded.replace(\n  /def runeLiteVersion = '[^']+'/,\n  `def runeLiteVersion = '${newVersion}'`\n);\n\nif (decoded === updated) {\n  throw new Error(`Could not find 'def runeLiteVersion' in root build.gradle. Check the file content.`);\n}\n\nconst newBase64 = Buffer.from(updated).toString('base64');\n\nreturn {\n  content: newBase64,\n  sha: fileData.sha,\n  newVersion,\n  branchName\n};"
      },
      "id": "bc687cd4-3ba2-4e8c-a2b4-25777e1f2726",
      "name": "Prepare kraken-plugins File Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        1392
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-plugins/contents/build.gradle",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'chore: bump RuneLite to ' + $json.newVersion, content: $json.content, sha: $json.sha, branch: $json.branchName }) }}",
        "options": {}
      },
      "id": "91c88684-bac2-49c3-a549-a3c1fa30abf3",
      "name": "Update kraken-plugins build.gradle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        1392
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-plugins/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: 'chore: bump RuneLite to ' + $('Prepare PR Data').item.json.newVersion, head: $('Prepare PR Data').item.json.branchName, base: 'master', body: '## RuneLite Version Bump\\n\\nAutomated PR to update RuneLite from `' + $('Prepare PR Data').item.json.prevVersion + '` to `' + $('Prepare PR Data').item.json.newVersion + '`.\\n\\n**File changed:** `build.gradle`' }) }}",
        "options": {}
      },
      "id": "e17572db-9876-4742-952e-1005039cb8bc",
      "name": "Create kraken-plugins PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        1392
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.previous_version }}",
              "rightValue": "={{ $json.version }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "942bee2d-32e0-4b14-bf51-286fc3e7140a"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9f617c0e-fcbe-4a8f-9e19-1fb84a4f2cd5",
      "name": "RuneLite Version Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1824,
        1088
      ]
    },
    {
      "parameters": {
        "url": "https://minio.kraken-plugins.com/kraken-bootstrap-static/bootstrap.json",
        "options": {}
      },
      "id": "bf977da8-09b2-4ced-a9a3-8c699e7169df",
      "name": "Fetch Kraken Bootstrap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract RuneLite version from bootstrap.json\nconst bootstrapData = $input.first().json;\n\nconst clientArtifact = bootstrapData.artifacts.find(a => a.name.startsWith('runelite-api-'));\n\nif (!clientArtifact) {\n    throw new Error(\"Could not find an artifact starting with 'runelite-api-'. Check the input data structure.\");\n}\n\nlet version = clientArtifact.name;\nversion = version.replace('runelite-api-', '').replace('.jar', '');\n\nreturn {\n  previous_version: version,\n};"
      },
      "id": "683a3548-0ec7-4a18-ba5c-d17d658e3a76",
      "name": "Parse Kraken Bootstrap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        992
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-example-plugin/git/ref/heads/master",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "207a0971-e4a1-49e3-92d2-c5cb514c6c4f",
      "name": "Get kraken-examples main SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        944
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-example-plugin/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ref: 'refs/heads/' + $('Prepare PR Data').item.json.branchName, sha: $json.object.sha }) }}",
        "options": {}
      },
      "id": "46486615-e590-49c1-b29e-dbed39b2c3ae",
      "name": "Create kraken-examples Branch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2496,
        944
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/Kraken-Plugins/kraken-example-plugin/contents/build.gradle?ref=' + $('Prepare PR Data').item.json.branchName }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "3c635398-023e-43c4-a79b-da2909491429",
      "name": "Get kraken-example build.gradle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2704,
        944
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileData = $input.first().json;\nconst newVersion = $('Prepare PR Data').first().json.newVersion;\nconst branchName = $('Prepare PR Data').first().json.branchName;\n\nconst rawContent = fileData.content.replace(/\\n/g, '');\nconst decoded = Buffer.from(rawContent, 'base64').toString('utf8');\n\nconst updated = decoded.replace(\n  /def runeLiteVersion = '[^']+'/,\n  `def runeLiteVersion = '${newVersion}'`\n);\n\nif (decoded === updated) {\n  throw new Error(`Could not find 'def runeLiteVersion' in root build.gradle or versions are the same (main branch already has latest runelite). Check the file content.`);\n}\n\nconst newBase64 = Buffer.from(updated).toString('base64');\n\nreturn {\n  content: newBase64,\n  sha: fileData.sha,\n  newVersion,\n  branchName\n};"
      },
      "id": "10155362-4baf-4261-acb5-1c37623badb2",
      "name": "Prepare kraken-example File Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        944
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-example-plugin/contents/build.gradle",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: 'chore: bump RuneLite to ' + $json.newVersion, content: $json.content, sha: $json.sha, branch: $json.branchName }) }}",
        "options": {}
      },
      "id": "1bb788b1-9e45-401e-8fed-0e9491605fa7",
      "name": "Update kraken-example build.gradle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3168,
        944
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/Kraken-Plugins/kraken-example-plugin/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: 'chore: bump RuneLite to ' + $('Prepare PR Data').item.json.newVersion, head: $('Prepare PR Data').item.json.branchName, base: 'master', body: '## RuneLite Version Bump\\n\\nAutomated PR to update RuneLite from `' + $('Prepare PR Data').item.json.prevVersion + '` to `' + $('Prepare PR Data').item.json.newVersion + '`.\\n\\n**File changed:** `build.gradle`' }) }}",
        "options": {}
      },
      "id": "c6a217f0-bd36-4e83-909a-55918e7071a7",
      "name": "Create kraken-example PR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3392,
        944
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w6Q7rnKwLpLZrC9C",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "ITrnpu2ujQDIFMWg",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch RuneLite Version",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Kraken Bootstrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RuneLite Version": {
      "main": [
        [
          {
            "node": "Parse RuneLite Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RuneLite Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "RuneLite Version Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PR Data": {
      "main": [
        [
          {
            "node": "Get kraken-examples main SHA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get kraken-api Main SHA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get kraken-plugins Main SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get kraken-api Main SHA": {
      "main": [
        [
          {
            "node": "Create kraken-api Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create kraken-api Branch": {
      "main": [
        [
          {
            "node": "Get kraken-api build.gradle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get kraken-api build.gradle": {
      "main": [
        [
          {
            "node": "Prepare kraken-api File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare kraken-api File Content": {
      "main": [
        [
          {
            "node": "Update kraken-api build.gradle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update kraken-api build.gradle": {
      "main": [
        [
          {
            "node": "Create kraken-api PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create kraken-api PR": {
      "main": [
        []
      ]
    },
    "Get kraken-plugins Main SHA": {
      "main": [
        [
          {
            "node": "Create kraken-plugins Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create kraken-plugins Branch": {
      "main": [
        [
          {
            "node": "Get kraken-plugins build.gradle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get kraken-plugins build.gradle": {
      "main": [
        [
          {
            "node": "Prepare kraken-plugins File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare kraken-plugins File Content": {
      "main": [
        [
          {
            "node": "Update kraken-plugins build.gradle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update kraken-plugins build.gradle": {
      "main": [
        [
          {
            "node": "Create kraken-plugins PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RuneLite Version Changed?": {
      "main": [
        [
          {
            "node": "Prepare PR Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare PR Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kraken Bootstrap": {
      "main": [
        [
          {
            "node": "Parse Kraken Bootstrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Kraken Bootstrap": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get kraken-examples main SHA": {
      "main": [
        [
          {
            "node": "Create kraken-examples Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create kraken-examples Branch": {
      "main": [
        [
          {
            "node": "Get kraken-example build.gradle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get kraken-example build.gradle": {
      "main": [
        [
          {
            "node": "Prepare kraken-example File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare kraken-example File Content": {
      "main": [
        [
          {
            "node": "Update kraken-example build.gradle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update kraken-example build.gradle": {
      "main": [
        [
          {
            "node": "Create kraken-example PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "701b2286-f314-46e0-99b5-f7bd56ad755b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6505d74b5ee4800cc6da6e38a2423cc29240108992c2c30211146b4adaf0c08"
  },
  "id": "UwlfaHZ8Eo4NcjNE",
  "tags": []
}