manifests/n8n/workflows/client_status.json
{
  "name": "Client Status",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "key": "kraken_client_state",
        "keyType": "string",
        "options": {}
      },
      "id": "5d0ebb68-5ce6-4859-a4af-17dde4012312",
      "name": "Get State (Offline Path)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -416,
        32
      ],
      "credentials": {
        "redis": {
          "id": "SPKBRi3qvTSBLkUq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "kraken_client_state",
        "keyType": "string",
        "options": {}
      },
      "id": "8d112d77-5eaa-4a98-abd6-75812cb5242e",
      "name": "Get State (Online Path)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "credentials": {
        "redis": {
          "id": "tQrCsjnbEwxNJazY",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "offline-check",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "offline",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        32
      ],
      "id": "20f27007-accb-4b70-a19d-b57ae00d718f",
      "name": "Needs Offline Notification?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "online-check",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "online",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        240
      ],
      "id": "cb8f4226-1768-41e3-b183-59a04a4221bd",
      "name": "Needs Online Notification?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "kraken_client_state",
        "value": "offline",
        "keyType": "string"
      },
      "id": "da880667-ea72-4794-8a39-3a552685cc08",
      "name": "Set State Offline",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "redis": {
          "id": "SPKBRi3qvTSBLkUq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "kraken_client_state",
        "value": "online",
        "keyType": "string"
      },
      "id": "27399c66-8113-4b8e-b8f1-bee17e62c3d9",
      "name": "Set State Online",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        64,
        224
      ],
      "credentials": {
        "redis": {
          "id": "SPKBRi3qvTSBLkUq",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "95c9df77-2aee-470e-85b8-2c84a73f962f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1616,
        272
      ]
    },
    {
      "parameters": {
        "url": "https://minio.kraken-plugins.com/kraken-bootstrap-static/bootstrap.json",
        "options": {}
      },
      "id": "6ded1d30-eee3-4e9a-9a0d-44c6ecf50e1e",
      "name": "Fetch Kraken Bootstrap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1392,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract RuneLite version from bootstrap.json\nconst bootstrapData = $input.first().json;\n\nconst clientArtifact = bootstrapData.artifacts.find(a => a.name.startsWith('runelite-api-'));\n\nif (!clientArtifact) {\n    throw new Error(\"Could not find an artifact starting with 'runelite-api-'. Check the input data structure.\");\n}\n\nlet version = clientArtifact.name;\nversion = version.replace('runelite-api-', '').replace('.jar', '');\n\nreturn {\n  krakenBootstrapRuneLiteVersion: version,\n};"
      },
      "id": "ab1e4a23-b099-4eb7-a53b-81c47e70b7a2",
      "name": "Parse Kraken Bootstrap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        304
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -880,
        176
      ],
      "id": "ce73e942-e1cc-403f-8070-e9e6c8eae8b0",
      "name": "Merge RL / Kraken"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc4ebb29-4940-465c-962f-e1a8fcbb40ac",
              "leftValue": "={{ $json.version }}",
              "rightValue": "={{ $json.krakenBootstrapRuneLiteVersion }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        176
      ],
      "id": "d0e35b3f-f9a2-47b8-967f-4797f104b174",
      "name": "Check Version Divergence"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📢 **RuneLite Updated:** `{{ $('Merge RL / Kraken').item.json.previous_version }}` ➜ `{{ $('Merge RL / Kraken').item.json.current_version }}`\nKraken is currently verifying the update and will be offline temporarily.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        -176
      ],
      "id": "f1fb8466-3243-4fdc-885c-7f288e924445",
      "name": "Notify Client Offline",
      "webhookId": "c4e1ada7-ef6b-4706-8fef-a0c3ad75e741",
      "credentials": {
        "discordWebhookApi": {
          "id": "Ohnz8bEWwKeDCTRM",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=✅ **Kraken is back online!**\nThe Kraken client has been updated to match RuneLite `{{ $('Merge RL / Kraken').item.json.current_version }}`.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        272,
        224
      ],
      "id": "c18df259-1e80-482a-826b-2c6c9ca715ad",
      "name": "Notify Client Online",
      "webhookId": "c4e1ada7-ef6b-4706-8fef-a0c3ad75e741",
      "credentials": {
        "discordWebhookApi": {
          "id": "Ohnz8bEWwKeDCTRM",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://static.runelite.net/bootstrap.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "cc6d4953-62da-4e10-aab8-2faf61eaf72b",
      "name": "Fetch RuneLite Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1376,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract RuneLite version from bootstrap.json\nconst bootstrapData = $input.first().json;\n\n// Find the artifact that starts with 'client-'\nconst clientArtifact = bootstrapData.artifacts.find(a => a.name.startsWith('client-'));\n\n// Ensure the artifact was found before proceeding\nif (!clientArtifact) {\n    throw new Error(\"Could not find an artifact starting with 'client-'. Check the input data structure.\");\n}\n\nconsole.log(\"Found artifact: \", clientArtifact.name)\n\n// 💡 The new, simplified version extraction:\n// 1. Start by getting the name: \"client-1.12.5.2.jar\"\nlet version = clientArtifact.name;\n\n// 2. Remove the \"client-\" prefix\nversion = version.replace('client-', ''); \n\n// 3. Remove the \".jar\" suffix\nversion = version.replace('.jar', ''); \n\n// The result is just the version string (e.g., \"1.12.5.2\" or \"1.12.5\")\n\nconsole.log(\"Parsed version: \", version)\nreturn {\n  version: version,\n  artifact: clientArtifact.name,\n  hash: clientArtifact.hash,\n  size: clientArtifact.size,\n  path: clientArtifact.path\n};"
      },
      "id": "4f1e372a-8292-40d2-9c78-30731760521f",
      "name": "Parse RuneLite Bootstrap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        96
      ]
    },
    {
      "parameters": {
        "content": "## Workflow\nThis workflow Updates Redis with the current state of the Kraken client. It will send a notification when the client is restored but NOT when the client goes down. There is a separate workflow which will send the RuneLite update when the client goes offline. If this is enabled for \"notify client offline\" step it will double post in Discord.",
        "height": 176,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        -160
      ],
      "id": "e3f666b0-83f3-4e67-8bbf-2de15a14ec04",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Get State (Offline Path)": {
      "main": [
        [
          {
            "node": "Needs Offline Notification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get State (Online Path)": {
      "main": [
        [
          {
            "node": "Needs Online Notification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Offline Notification?": {
      "main": [
        [
          {
            "node": "Set State Offline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Online Notification?": {
      "main": [
        [
          {
            "node": "Set State Online",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set State Offline": {
      "main": [
        []
      ]
    },
    "Set State Online": {
      "main": [
        [
          {
            "node": "Notify Client Online",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Kraken Bootstrap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RuneLite Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kraken Bootstrap": {
      "main": [
        [
          {
            "node": "Parse Kraken Bootstrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Kraken Bootstrap": {
      "main": [
        [
          {
            "node": "Merge RL / Kraken",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RL / Kraken": {
      "main": [
        [
          {
            "node": "Check Version Divergence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Version Divergence": {
      "main": [
        [
          {
            "node": "Get State (Offline Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get State (Online Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RuneLite Version": {
      "main": [
        [
          {
            "node": "Parse RuneLite Bootstrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RuneLite Bootstrap": {
      "main": [
        [
          {
            "node": "Merge RL / Kraken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ba99ccbd-29fa-4433-a87d-28eb199e7d04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "342bf1cb241bb55aea5bc1194aa23c8cbd0f6a7b521b1078ca5944e70f48e294"
  },
  "id": "QvOhCNwj6Mu6pBCb",
  "tags": []
}