manifests/n8n/workflows/kraken_client_status.json
{
  "name": "Client Status",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "key": "kraken_client_state",
        "keyType": "string",
        "options": {}
      },
      "id": "f7373b8b-af6c-4c75-8b8f-41eb05acb999",
      "name": "Get State (Offline Path)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -176,
        400
      ],
      "credentials": {
        "redis": {
          "id": "mTMF95BvH7yOJa4L",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "kraken_client_state",
        "keyType": "string",
        "options": {}
      },
      "id": "4ef5b159-124d-4121-a73e-6347d2ad3347",
      "name": "Get State (Online Path)",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -160,
        608
      ],
      "credentials": {
        "redis": {
          "id": "mTMF95BvH7yOJa4L",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "offline-check",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "offline",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16,
        400
      ],
      "id": "486857db-8a53-4889-a6c9-8e4e2f5eb0f4",
      "name": "Needs Offline Notification?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "online-check",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "online",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        48,
        608
      ],
      "id": "d4aea984-9ce4-4674-91f5-6bcf5ed56369",
      "name": "Needs Online Notification?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "kraken_client_state",
        "value": "offline",
        "keyType": "string"
      },
      "id": "5a144cce-24a6-4567-a7fa-cde10bc7a292",
      "name": "Set State Offline",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        240,
        368
      ],
      "credentials": {
        "redis": {
          "id": "mTMF95BvH7yOJa4L",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "kraken_client_state",
        "value": "online",
        "keyType": "string"
      },
      "id": "7fbea9b4-713f-4a59-b4cb-84affb907844",
      "name": "Set State Online",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        304,
        592
      ],
      "credentials": {
        "redis": {
          "id": "mTMF95BvH7yOJa4L",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 3
            }
          ]
        }
      },
      "id": "a1cc8fa7-4f3a-46bd-a6a3-b9b4d86aae25",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1376,
        640
      ]
    },
    {
      "parameters": {
        "url": "https://minio.kraken-plugins.com/kraken-bootstrap-static/bootstrap.json",
        "options": {}
      },
      "id": "12f86557-04a4-4b74-9e7d-9d116284bb49",
      "name": "Fetch Kraken Bootstrap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract RuneLite version from bootstrap.json\nconst bootstrapData = $input.first().json;\n\nconst clientArtifact = bootstrapData.artifacts.find(a => a.name.startsWith('runelite-api-'));\n\nif (!clientArtifact) {\n    throw new Error(\"Could not find an artifact starting with 'runelite-api-'. Check the input data structure.\");\n}\n\nlet version = clientArtifact.name;\nversion = version.replace('runelite-api-', '').replace('.jar', '');\n\nreturn {\n  krakenBootstrapRuneLiteVersion: version,\n};"
      },
      "id": "347ca2de-5c69-4392-aa4a-6f0febf5b0d0",
      "name": "Parse Kraken Bootstrap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        672
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -640,
        544
      ],
      "id": "d1967e23-1ca3-4812-86a5-74ee7087b608",
      "name": "Merge RL / Kraken"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc4ebb29-4940-465c-962f-e1a8fcbb40ac",
              "leftValue": "={{ $json.version }}",
              "rightValue": "={{ $json.krakenBootstrapRuneLiteVersion }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        544
      ],
      "id": "bab6f83d-9316-4891-a90b-fca02a2a82fc",
      "name": "Check Version Divergence"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📢 **RuneLite Updated:** `{{ $('Merge RL / Kraken').item.json.previous_version }}` ➜ `{{ $('Merge RL / Kraken').item.json.current_version }}`\nKraken is currently verifying the update and will be offline temporarily.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        464,
        368
      ],
      "id": "ddd1c636-db0e-4a83-b434-c7f435a65958",
      "name": "Notify Client Offline",
      "webhookId": "c4e1ada7-ef6b-4706-8fef-a0c3ad75e741",
      "credentials": {
        "discordWebhookApi": {
          "id": "jHs3yDTOLJJPYuBq",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=✅ **Kraken is back online!**\nThe Kraken client has been updated to match RuneLite `{{ $('Merge RL / Kraken').item.json.current_version }}`.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        512,
        592
      ],
      "id": "e9483ac0-cd7e-4bf7-9606-77147224d23b",
      "name": "Notify Client Online",
      "webhookId": "c4e1ada7-ef6b-4706-8fef-a0c3ad75e741",
      "credentials": {
        "discordWebhookApi": {
          "id": "jHs3yDTOLJJPYuBq",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://static.runelite.net/bootstrap.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "id": "8b449fbe-f4ae-4540-a83c-44779e9876f1",
      "name": "Fetch RuneLite Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract RuneLite version from bootstrap.json\nconst bootstrapData = $input.first().json;\n\n// Find the artifact that starts with 'client-'\nconst clientArtifact = bootstrapData.artifacts.find(a => a.name.startsWith('client-'));\n\n// Ensure the artifact was found before proceeding\nif (!clientArtifact) {\n    throw new Error(\"Could not find an artifact starting with 'client-'. Check the input data structure.\");\n}\n\nconsole.log(\"Found artifact: \", clientArtifact.name)\n\n// 💡 The new, simplified version extraction:\n// 1. Start by getting the name: \"client-1.12.5.2.jar\"\nlet version = clientArtifact.name;\n\n// 2. Remove the \"client-\" prefix\nversion = version.replace('client-', ''); \n\n// 3. Remove the \".jar\" suffix\nversion = version.replace('.jar', ''); \n\n// The result is just the version string (e.g., \"1.12.5.2\" or \"1.12.5\")\n\nconsole.log(\"Parsed version: \", version)\nreturn {\n  version: version,\n  artifact: clientArtifact.name,\n  hash: clientArtifact.hash,\n  size: clientArtifact.size,\n  path: clientArtifact.path\n};"
      },
      "id": "c777024b-93be-4b5d-afb3-79427c421182",
      "name": "Parse RuneLite Bootstrap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        464
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Get State (Offline Path)": {
      "main": [
        [
          {
            "node": "Needs Offline Notification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get State (Online Path)": {
      "main": [
        [
          {
            "node": "Needs Online Notification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Offline Notification?": {
      "main": [
        [
          {
            "node": "Set State Offline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Online Notification?": {
      "main": [
        [
          {
            "node": "Set State Online",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set State Offline": {
      "main": [
        [
          {
            "node": "Notify Client Offline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set State Online": {
      "main": [
        [
          {
            "node": "Notify Client Online",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Kraken Bootstrap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch RuneLite Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kraken Bootstrap": {
      "main": [
        [
          {
            "node": "Parse Kraken Bootstrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Kraken Bootstrap": {
      "main": [
        [
          {
            "node": "Merge RL / Kraken",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RL / Kraken": {
      "main": [
        [
          {
            "node": "Check Version Divergence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Version Divergence": {
      "main": [
        [
          {
            "node": "Get State (Offline Path)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get State (Online Path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RuneLite Version": {
      "main": [
        [
          {
            "node": "Parse RuneLite Bootstrap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RuneLite Bootstrap": {
      "main": [
        [
          {
            "node": "Merge RL / Kraken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "48ef6ea4-b5db-4d40-9b75-23be35f94cd2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6505d74b5ee4800cc6da6e38a2423cc29240108992c2c30211146b4adaf0c08"
  },
  "id": "u8mRjKATTV9EGxZO",
  "tags": []
}