manifests/n8n/workflows/osrs_update_monitor.json
{
  "name": "OSRS Update Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "7944a78e-a395-4e78-ac49-79226cab949c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1808,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://static.runelite.net/bootstrap.json",
        "options": {}
      },
      "id": "7359e185-62a9-446d-9355-ab5936992cce",
      "name": "Fetch RuneLite Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        -16
      ]
    },
    {
      "parameters": {
        "url": "https://archive.openrs2.org/caches.json",
        "options": {}
      },
      "id": "0fb9f8a5-4084-4bc8-9262-920f614e59c7",
      "name": "Fetch OSRS Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract RuneLite version from bootstrap.json\nconst bootstrapData = $input.first().json;\n\n// Find the artifact that starts with 'client-'\nconst clientArtifact = bootstrapData.artifacts.find(a => a.name.startsWith('client-'));\n\n// Ensure the artifact was found before proceeding\nif (!clientArtifact) {\n    throw new Error(\"Could not find an artifact starting with 'client-'. Check the input data structure.\");\n}\n\nconsole.log(\"Found artifact: \", clientArtifact.name)\n\n// 💡 The new, simplified version extraction:\n// 1. Start by getting the name: \"client-1.12.5.2.jar\"\nlet version = clientArtifact.name;\n\n// 2. Remove the \"client-\" prefix\nversion = version.replace('client-', ''); \n\n// 3. Remove the \".jar\" suffix\nversion = version.replace('.jar', ''); \n\n// The result is just the version string (e.g., \"1.12.5.2\" or \"1.12.5\")\n\nconsole.log(\"Parsed version: \", version)\nreturn {\n  version: version,\n  artifact: clientArtifact.name,\n  hash: clientArtifact.hash,\n  size: clientArtifact.size,\n  path: clientArtifact.path\n};"
      },
      "id": "f25eadfa-5c76-4191-bd24-ed13521fa1c8",
      "name": "Parse RuneLite Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for oldschool and get latest version\nconst caches = $input.all();\nlet sortedCaches = caches\n  .filter(c => c.json.game === 'oldschool')\n  .sort((a,b) => new Date(b.json.timestamp) - new Date(a.json.timestamp));\n\nconst latest = sortedCaches[0];\n\nreturn {\n  major: latest.json.builds[0].major,\n  minor: latest.json.builds[0].minor,\n  timestamp: latest.json.timestamp,\n  id: latest.json.id\n};"
      },
      "id": "74a24a98-34cb-4ad9-8099-18348e577743",
      "name": "Parse OSRS Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        624
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=previous_version",
        "key": "runelite_version",
        "keyType": "string",
        "options": {
          "dotNotation": true
        }
      },
      "id": "85016f67-b70c-4e0c-8ecf-ef3822d1b744",
      "name": "Load Previous RuneLite Version",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1456,
        -224
      ],
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "mTMF95BvH7yOJa4L",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=previous_revision",
        "key": "osrs_revision",
        "options": {
          "dotNotation": true
        }
      },
      "id": "64790cd7-61e6-4223-8665-8d4e7d47c731",
      "name": "Load Previous OSRS Version",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1440,
        432
      ],
      "credentials": {
        "redis": {
          "id": "mTMF95BvH7yOJa4L",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.previous_version }}",
              "rightValue": "={{ $json.version }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "id": "942bee2d-32e0-4b14-bf51-286fc3e7140a"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bc594b97-b99c-4aa5-ad34-4da906b42988",
      "name": "RuneLite Version Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -816,
        -144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.major }}",
              "rightValue": "={{ parseInt($json.previous_revision) }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              },
              "id": "285ba29f-2d63-49ef-92bc-9199528006e2"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1fe98e88-fa62-4c51-8e61-8e99b53b4fb0",
      "name": "OSRS Version Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -560,
        544
      ]
    },
    {
      "parameters": {
        "fromEmail": "cbartram3@gmail.com",
        "toEmail": "cbartram3@gmail.com",
        "subject": "=🎮 RuneLite Update - v{{ $json.version }}",
        "html": "=<!DOCTYPE html><html><head>  <style>    body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px; }    .container { background-color: white; border-radius: 8px; padding: 30px; max-width: 600px; margin: 0 auto; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px 8px 0 0; margin: -30px -30px 20px -30px; }    .version { font-size: 32px; font-weight: bold; margin: 10px 0; }    .info-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; margin: 20px 0; }    .info-item { background: #f8f9fa; padding: 15px; border-radius: 6px; border-left: 4px solid #667eea; }    .label { font-size: 12px; color: #666; text-transform: uppercase; font-weight: bold; }    .value { font-size: 18px; color: #333; margin-top: 5px; }    .download-btn { background: #667eea; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block; margin-top: 20px; }    .footer { margin-top: 30px; padding-top: 20px; border-top: 1px solid #eee; font-size: 12px; color: #999; text-align: center; }  </style></head><body>  <div class=\\\"container\\\">    <div class=\\\"header\\\">      <h1 style=\\\"margin: 0;\\\">🎮 RuneLite Update</h1>      <div class=\\\"version\\\">v{{ $json.version }}</div>    </div>        <p>A new RuneLite version has been released and is now available for download.</p>        <div class=\\\"info-grid\\\">      <div class=\\\"info-item\\\">        <div class=\\\"label\\\">Version</div>        <div class=\\\"value\\\">{{ $json.version }}</div>      </div>      <div class=\\\"info-item\\\">        <div class=\\\"label\\\">Artifact</div>        <div class=\\\"value\\\">{{ $json.artifact }}</div>      </div>      <div class=\\\"info-item\\\">        <div class=\\\"label\\\">Size</div>        <div class=\\\"value\\\">{{ ($json.size / 1024 / 1024).toFixed(2) }} MB</div>      </div>      <div class=\\\"info-item\\\">        <div class=\\\"label\\\">Hash (SHA-256)</div>        <div class=\\\"value\\\" style=\\\"font-size: 10px; word-break: break-all;\\\">{{ $json.hash }}</div>      </div>    </div>        <a href=\\\"{{ $json.path }}\\\" class=\\\"download-btn\\\">Download Update</a>        <div class=\\\"footer\\\">      Automated notification from RuneLite Update Monitor<br>      {{ new Date().toLocaleString() }}    </div>  </div></body></html>",
        "options": {}
      },
      "id": "64e71f7f-b18d-44c1-8fa9-31de9b5b4621",
      "name": "Email - RuneLite Update",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -544,
        -208
      ],
      "webhookId": "948e9550-1b1c-479b-b234-3e9a4916e407",
      "credentials": {
        "smtp": {
          "id": "HgyZHgRsjnWfpuxd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "cbartram3@gmail.com",
        "toEmail": "cbartram3@gmail.com",
        "subject": "=🗡️ OSRS Game Update - Build {{ $json.major }}",
        "html": "=<!DOCTYPE html><html><head>  <style>    body { font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px; }    .container { background-color: white; border-radius: 8px; padding: 30px; max-width: 600px; margin: 0 auto; box-shadow: 0 2px 4px rgba(0,0,0,0.1); }    .header { background: linear-gradient(135deg, #f59e0b 0%, #dc2626 100%); color: white; padding: 20px; border-radius: 8px 8px 0 0; margin: -30px -30px 20px -30px; }    .version { font-size: 32px; font-weight: bold; margin: 10px 0; }    .info-grid { display: grid; grid-template-columns: 1fr 1fr; gap: 15px; margin: 20px 0; }    .info-item { background: #f8f9fa; padding: 15px; border-radius: 6px; border-left: 4px solid #f59e0b; }    .label { font-size: 12px; color: #666; text-transform: uppercase; font-weight: bold; }    .value { font-size: 18px; color: #333; margin-top: 5px; }    .timestamp { background: #fef3c7; padding: 12px; border-radius: 6px; margin: 20px 0; text-align: center; }    .footer { margin-top: 30px; padding-top: 20px; border-top: 1px solid #eee; font-size: 12px; color: #999; text-align: center; }  </style></head><body>  <div class=\\\"container\\\">    <div class=\\\"header\\\">      <h1 style=\\\"margin: 0;\\\">🗡️ Old School RuneScape</h1>      <div class=\\\"version\\\">Build {{ $json.major }}</div>    </div>        <p>A new OSRS game cache has been published on the OpenRS2 Archive.</p>        <div class=\\\"timestamp\\\">      <strong>Released:</strong> {{ new Date($json.timestamp).toLocaleString() }}    </div>        <div class=\\\"info-grid\\\">      <div class=\\\"info-item\\\">        <div class=\\\"label\\\">Major Build</div>        <div class=\\\"value\\\">{{ $json.major }}</div>      </div>      <div class=\\\"info-item\\\"><div class=\\\"footer\\\">      Automated notification from OSRS Update Monitor<br>      {{ new Date().toLocaleString() }}    </div>  </div></body></html>",
        "options": {}
      },
      "id": "bba2ac8d-a451-4eb6-9065-5fce523a7f17",
      "name": "Email - OSRS Update",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -192,
        736
      ],
      "webhookId": "6233e2e7-f4cf-4776-8119-66b1d91d4269",
      "credentials": {
        "smtp": {
          "id": "HgyZHgRsjnWfpuxd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "runelite_version",
        "value": "={{ $json.version }}",
        "keyType": "string"
      },
      "id": "8f8ca006-f68d-421e-ae55-aa5bdb509c95",
      "name": "Save RuneLite Version",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -544,
        -32
      ],
      "credentials": {
        "redis": {
          "id": "mTMF95BvH7yOJa4L",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "osrs_revision",
        "value": "={{ $json.major }}",
        "keyType": "string"
      },
      "id": "62d53831-20f6-435d-9c43-b354c8cc5450",
      "name": "Save OSRS Version",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -192,
        416
      ],
      "credentials": {
        "redis": {
          "id": "mTMF95BvH7yOJa4L",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1008,
        -144
      ],
      "id": "7de4cf0f-0834-4313-9844-702a9bc60218",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -816,
        544
      ],
      "id": "c37968a2-c2f9-4475-a39c-92703e6b2284",
      "name": "Merge1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📢 **OSRS Revision Update:** `{{ $json.previous_revision }}` ➜ `{{ $json.major }}`\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -192,
        544
      ],
      "id": "0e88ea05-ce69-4292-aeef-51256ed578fc",
      "name": "Discord",
      "webhookId": "c4e1ada7-ef6b-4706-8fef-a0c3ad75e741",
      "alwaysOutputData": false,
      "credentials": {
        "discordWebhookApi": {
          "id": "2ZmGtQ3nI1vOfhAz",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📢 **RuneLite Update:** `{{ $json.previous_version }}` ➜ `{{ $json.version }}`\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -544,
        -384
      ],
      "id": "dd9c28b5-652c-4ca0-abb3-9824e5728d43",
      "name": "Discord1",
      "webhookId": "c4e1ada7-ef6b-4706-8fef-a0c3ad75e741",
      "alwaysOutputData": false,
      "credentials": {
        "discordWebhookApi": {
          "id": "2ZmGtQ3nI1vOfhAz",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "content": "### OSRS Revision Updates\n\nThe following updates OSRS Revisions",
        "height": 192,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        224
      ],
      "typeVersion": 1,
      "id": "ff46a570-8070-49b6-9284-f571679cfd83",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### RuneLite Game Updates\n\nThe following updates RuneLite Versions",
        "height": 192,
        "width": 1360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        -592
      ],
      "typeVersion": 1,
      "id": "1c752668-4bd7-49b6-b749-64bd6cd86b5a",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch RuneLite Version",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch OSRS Cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Previous OSRS Version",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Previous RuneLite Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RuneLite Version": {
      "main": [
        [
          {
            "node": "Parse RuneLite Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch OSRS Cache": {
      "main": [
        [
          {
            "node": "Parse OSRS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RuneLite Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse OSRS Data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Load Previous RuneLite Version": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Previous OSRS Version": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RuneLite Version Changed?": {
      "main": [
        [
          {
            "node": "Email - RuneLite Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save RuneLite Version",
            "type": "main",
            "index": 0
          },
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OSRS Version Changed?": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - OSRS Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save OSRS Version",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "RuneLite Version Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "OSRS Version Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4ff7e95b-a7ee-4404-990a-62f1c1cf0825",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6505d74b5ee4800cc6da6e38a2423cc29240108992c2c30211146b4adaf0c08"
  },
  "id": "aPCSXPwjegF3mnfI",
  "tags": []
}