manifests/n8n/workflows/service_health_monitor.json
{
  "name": "Service Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "a6d2a541-2688-49e9-9ee5-8e6330966694",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1120,
        352
      ]
    },
    {
      "parameters": {
        "url": "https://kraken-plugins.com",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "b68ca505-59b0-4022-bbd8-effc61181c30",
      "name": "Check Main Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -864,
        128
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "http://kraken-api.kraken.svc.cluster.local:80/api/v1/health",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "2f8a14a0-7ab5-4402-9f7e-789ecbc72ddb",
      "name": "Check API Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -864,
        304
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://minio-console.kraken-plugins.com",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "id": "8a88af58-2645-4e5c-9f8c-529a88a26ae5",
      "name": "Check Minio Console",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -848,
        496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst items = $input.all();\n\n// Helper function to extract status info\nconst getStatusInfo = (item) => {\n  // Check if we have error information\n  console.log(item)\n  if (item.json.error) {\n    return {\n      statusCode: null,\n      error: item.json.error,\n      body: null\n    };\n  }\n  \n  // Handle full response format\n  if (item.json.statusCode) {\n    return {\n      statusCode: item.json.statusCode,\n      error: null,\n      body: item.json.body\n    };\n  }\n  \n  // Fallback\n  return {\n    statusCode: null,\n    error: { message: 'Unknown response format' },\n    body: null\n  };\n};\n\n// Check Main Site\nconst mainSiteInfo = getStatusInfo(items[0]);\nconst mainSiteStatus = {\n  service: 'Main Website',\n  url: 'https://kraken-plugins.com',\n  status: 'healthy',\n  statusCode: mainSiteInfo.statusCode || 'N/A',\n  message: 'Site is accessible',\n  icon: '✅'\n};\n\nif (mainSiteInfo.error || !mainSiteInfo.statusCode || mainSiteInfo.statusCode >= 400) {\n  mainSiteStatus.status = 'down';\n  mainSiteStatus.message = mainSiteInfo.error?.message || `HTTP ${mainSiteInfo.statusCode}`;\n  mainSiteStatus.icon = '❌';\n}\n\nresults.push(mainSiteStatus);\n\n// Check API Health\nconst apiInfo = getStatusInfo(items[1]);\nconst apiStatus = {\n  service: 'Kraken API',\n  url: 'http://kraken-api.kraken.svc.cluster.local:80/api/v1/health',\n  status: 'healthy',\n  statusCode: apiInfo.statusCode || 'N/A',\n  message: 'API is healthy',\n  icon: '✅'\n};\n\nif (apiInfo.error || !apiInfo.statusCode || apiInfo.statusCode >= 400) {\n  apiStatus.status = 'down';\n  apiStatus.message = apiInfo.error?.message || `HTTP ${apiInfo.statusCode}`;\n  apiStatus.icon = '❌';\n}\n\nresults.push(apiStatus);\n\n// Check Minio Console\nconst minioInfo = getStatusInfo(items[2]);\nconst minioStatus = {\n  service: 'Minio Console',\n  url: 'https://minio-console.kraken-plugins.com',\n  status: 'healthy',\n  statusCode: minioInfo.statusCode || 'N/A',\n  message: 'Console is accessible',\n  icon: '✅'\n};\n\nif (minioInfo.error || !minioInfo.statusCode || minioInfo.statusCode >= 400) {\n  minioStatus.status = 'down';\n  minioStatus.message = minioInfo.error?.message || `HTTP ${minioInfo.statusCode}`;\n  minioStatus.icon = '❌';\n}\n\nresults.push(minioStatus);\n\n// Check if any service has issues\nconst hasIssues = results.some(r => r.status !== 'healthy');\nconst timestamp = new Date().toLocaleString('en-US', { \n  timeZone: 'America/New_York',\n  dateStyle: 'full',\n  timeStyle: 'long'\n});\n\nreturn {\n  json: {\n    results,\n    hasIssues,\n    timestamp,\n    summary: {\n      total: results.length,\n      healthy: results.filter(r => r.status === 'healthy').length,\n      down: results.filter(r => r.status === 'down').length,\n      warning: results.filter(r => r.status === 'warning').length\n    }\n  }\n};"
      },
      "id": "f9a48f09-4f67-48c2-8568-fc62417c5fc5",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f479c4ec-a7d6-484d-a777-77a9d47487da",
              "leftValue": "={{ $json.results[0].statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "f98dc620-c5bb-43d2-8745-21ead620d53d",
              "leftValue": "={{ $json.results[1].statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            },
            {
              "id": "eaf13ccd-eeb9-4781-86ab-680a6f8c1d7f",
              "leftValue": "={{ $json.results[2].statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3f7034ed-30b8-42bc-bbc8-bff593662dce",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst { results, timestamp, summary } = data;\n\nconst statusColor = (status) => {\n  if (status === 'healthy') return '#28a745';\n  if (status === 'warning') return '#ffc107';\n  return '#dc3545';\n};\n\nconst serviceRows = results.map(r => `\n  <tr style=\"border-bottom: 1px solid #e9ecef;\">\n    <td style=\"padding: 16px; font-size: 24px;\">${r.icon}</td>\n    <td style=\"padding: 16px;\">\n      <strong style=\"color: #212529; font-size: 16px;\">${r.service}</strong><br>\n      <span style=\"color: #6c757d; font-size: 14px;\">${r.url}</span>\n    </td>\n    <td style=\"padding: 16px; text-align: center;\">\n      <span style=\"\n        background-color: ${statusColor(r.status)};\n        color: white;\n        padding: 6px 12px;\n        border-radius: 4px;\n        font-weight: 600;\n        font-size: 14px;\n        text-transform: uppercase;\n      \">${r.status}</span>\n    </td>\n    <td style=\"padding: 16px; text-align: center; color: #6c757d; font-size: 14px;\">${r.statusCode}</td>\n    <td style=\"padding: 16px; color: #495057; font-size: 14px;\">${r.message}</td>\n  </tr>\n`).join('');\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin: 0; padding: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; background-color: #f8f9fa;\">\n  <div style=\"max-width: 800px; margin: 40px auto; background-color: white; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); overflow: hidden;\">\n    \n    <!-- Header -->\n    <div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 32px; text-align: center;\">\n      <h1 style=\"margin: 0; color: white; font-size: 28px; font-weight: 700;\">⚠️ Service Health Alert</h1>\n      <p style=\"margin: 8px 0 0 0; color: rgba(255,255,255,0.9); font-size: 16px;\">Issues detected with your services</p>\n    </div>\n    \n    <!-- Summary Stats -->\n    <div style=\"display: flex; padding: 24px; background-color: #f8f9fa; border-bottom: 1px solid #dee2e6;\">\n      <div style=\"flex: 1; text-align: center; padding: 12px;\">\n        <div style=\"font-size: 32px; font-weight: 700; color: #28a745;\">${summary.healthy}</div>\n        <div style=\"font-size: 14px; color: #6c757d; text-transform: uppercase; letter-spacing: 0.5px;\">Healthy</div>\n      </div>\n      <div style=\"flex: 1; text-align: center; padding: 12px;\">\n        <div style=\"font-size: 32px; font-weight: 700; color: #ffc107;\">${summary.warning}</div>\n        <div style=\"font-size: 14px; color: #6c757d; text-transform: uppercase; letter-spacing: 0.5px;\">Warning</div>\n      </div>\n      <div style=\"flex: 1; text-align: center; padding: 12px;\">\n        <div style=\"font-size: 32px; font-weight: 700; color: #dc3545;\">${summary.down}</div>\n        <div style=\"font-size: 14px; color: #6c757d; text-transform: uppercase; letter-spacing: 0.5px;\">Down</div>\n      </div>\n    </div>\n    \n    <!-- Services Table -->\n    <div style=\"padding: 24px;\">\n      <h2 style=\"margin: 0 0 16px 0; color: #212529; font-size: 20px; font-weight: 600;\">Service Status Details</h2>\n      <table style=\"width: 100%; border-collapse: collapse; background-color: white;\">\n        <thead>\n          <tr style=\"background-color: #f8f9fa; border-bottom: 2px solid #dee2e6;\">\n            <th style=\"padding: 12px; text-align: left; color: #495057; font-size: 14px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\"></th>\n            <th style=\"padding: 12px; text-align: left; color: #495057; font-size: 14px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">Service</th>\n            <th style=\"padding: 12px; text-align: center; color: #495057; font-size: 14px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">Status</th>\n            <th style=\"padding: 12px; text-align: center; color: #495057; font-size: 14px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">Code</th>\n            <th style=\"padding: 12px; text-align: left; color: #495057; font-size: 14px; font-weight: 600; text-transform: uppercase; letter-spacing: 0.5px;\">Details</th>\n          </tr>\n        </thead>\n        <tbody>\n          ${serviceRows}\n        </tbody>\n      </table>\n    </div>\n    \n    <!-- Footer -->\n    <div style=\"padding: 24px; background-color: #f8f9fa; border-top: 1px solid #dee2e6; text-align: center;\">\n      <p style=\"margin: 0; color: #6c757d; font-size: 14px;\">\n        <strong>Checked at:</strong> ${timestamp}\n      </p>\n      <p style=\"margin: 12px 0 0 0; color: #6c757d; font-size: 12px;\">\n        This is an automated alert from your N8N Service Monitor\n      </p>\n    </div>\n    \n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    html,\n    subject: `🚨 Service Alert: ${summary.down} Down, ${summary.warning} Warning`,\n    summary\n  }\n};"
      },
      "id": "b0410a9c-a98d-4610-8ab9-3f8637cd8a41",
      "name": "Generate HTML Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        256
      ]
    },
    {
      "parameters": {
        "fromEmail": "cbartram3@gmail.com",
        "toEmail": "cbartram3@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "cd1b354d-d97c-45f2-8161-de968772184d",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        192,
        256
      ],
      "webhookId": "a99ce61b-4a21-4db6-b0f0-07d0abc188d0",
      "credentials": {
        "smtp": {
          "id": "OFfjSj79KNiK0V7c",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        272
      ],
      "id": "797c2af6-69f1-4526-90a9-2e8c07b4113a",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Main Site",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check API Health",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Minio Console",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Main Site": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Health": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Check Minio Console": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Process Results": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "Generate HTML Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Email": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8a8817a-b832-49a3-8c44-c3ac6c594583",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac5aafcdfb9ac880141cb32a76e3a3481ae6175ee2bcd23b1a0c161d4970a9e4"
  },
  "id": "LBoTPhPOkSphhiyj",
  "tags": []
}